

body{
  .bg-light {
    background-color: #ebeced !important;
  }
  .header{
    background: url("../img/fondo.jpg") no-repeat;
    background-size: 100% 100%;
    min-height: 350px;

    .calidadFiltro{
      width: -moz-available;
      text-align: left;
    }
  }

  footer{
    background-color: #ebeced;
    .select-footer{
      list-style-type: none;
      li:hover{
        text-decoration: underline;
      }
    }
  }
}